/* Basic example theme */
/* Indentation: 4 spaces - Line Endings: Unix */

/* Import the original stylesheet if you want, it's up to you... */
@import url("../../../assets/css/app.css");

@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata-Regular.ttf);
}

body {
    margin: 0;
    max-width: 90%;
    margin-left: 100px;
    padding-left: 10px;
    border-left: 5px solid #000;
    font-family: 'Inconsolata', sans-serif;
}
